<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Vortice Usings</Title>
            <Author>Bryan M. Longacre</Author>
            <Description>Import All Vortice Usings.</Description>
            <Shortcut>vortice-usings</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[]]>
            </Code>
          <Imports>
            <Import>
              <Namespace>VD3D = Vortice.Direct3D</Namespace>
            </Import>
            <Import>
              <Namespace>VD2D1 = Vortice.Direct2D1</Namespace>
            </Import>
            <Import>
              <Namespace>VD3D11 = Vortice.Direct3D11</Namespace>
            </Import>
            <Import>
              <Namespace>VD3D12 = Vortice.Direct3D12</Namespace>
            </Import>
            <Import>
              <Namespace>VDXGI = Vortice.DXGI</Namespace>
            </Import>
            <Import>
              <Namespace>VD3D11on12 = Vortice.Direct3D11on12</Namespace>
            </Import>
          </Imports>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>