---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignOperands: false
AlignTrailingComments: false
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: False
ConstructorInitializerAllOnOneLineOrOnePerLine: False
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
---
Language: JavaScript
BasedOnStyle: Microsoft
...
